@model IEnumerable<Test.Core.Domain.TestResult>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Exercise.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestDate)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Exercise.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade)
        </td>
        <td>
            @Html.DisplayFor(m => item.TestDate)
        </td>
    </tr>
}

</table>
